/* hero-image style areas */
.hero-image {
  width: 100%;
  height: 250px;
  margin-top: 110px;
  background-image: url(image.gallery/page-image-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image ul {
  width: max-content;
  margin-top: 1em;
  display: flex;
}

.hero-image ul li a {
  color: var(--purple-color);
}

.contact-us {
  width: 100%;
}

.contact-us button[type='submit'] {
  margin-top: 1em;
  padding: 0.75em 3em;
  border-radius: 5px;
}

.contact-us button[type='submit']:hover {
  background-color: var(--grey-color);
}

/* wrapper-review & wrapper-author style areas */
.wrapper-reviews,
.wrapper-author {
  width: 100%;
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.25em;
  row-gap: 1.25em;
}

.content-reviews,
.content-author {
  width: 32%;
  padding: 1em;
  line-height: 1.65;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  position: relative;
  border: 2px solid var(--grey-color);
}

.reviews-image {
  display: flex;
  flex-direction: column;
}

.reviews-image i {
  color: var(--yellow-color);
}

.reviews-image img {
  width: 80px;
  height: 80px;
  margin: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--white-color), 0 0 0 4px var(--purple-color);
  transition: var(--transition);
}

.author-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.author-image:hover .social-media-author {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.author-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.reviews-image figcaption,
.author-image figcaption {
  min-height: 2.5rem;
  margin: 0.5em auto;
  display: flex;
  align-items: center;
}

.social-media-author {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-200px);
  transition: var(--transition);
}

.social-media-author a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-color: var(--grey-color);
}

.social-media-author a:not(:last-child) {
  margin-bottom: 0.5em;
}

.social-media-author a:hover {
  background-color: var(--purple-color);
}

/* responsive mobile view style start here */

/* responsive breakpoint on mobile max width 600px */
@media screen and (max-width: 600px) {
  /* hero-image style areas */
  .hero-image {
    height: 190px;
  }

  .hero-image h1 {
    font-size: 1.5rem;
  }

  /* wrapper-review & wrapper-author style areas */
  .content-reviews,
  .content-author {
    width: 80%;
    margin: auto;
  }
}
